/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
/*navbar is the background of the navigation*/
.navbar{

	background-color: var(--primary-color);
	color: white;
	height: 100px;
	border-bottom: solid;
	border-bottom-width: 3px;
	border-bottom-color: white;
	box-shadow: 5px 10px 8px #888888;
}

#hMenu{
	display: none;
}

/*This container class limits the overall view area of the website*/
.container{
	max-width: 1100px;
	margin: 0 auto;/* margin auto centrally aligns the container*/
	/*padding-right: 0 40px;*/

}

/*This is to give the tile effects to direct links*/
.card{
	background-color: white;
	border-radius: 10px;
	color: #333;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	padding: 10px;
	margin: 10px;
}


.flex-nav {

	display: flex; /*This setting causes the site name and the nav items on the same block*/
	justify-content: flex-end; /*site name and nav items go into opposite ends*/
	align-items: center; /*vertically aligns the site name and nav items*/
	height: 100%;
}

nav{
	margin-left: auto; /*doing this puts the site name on left and nav elements on righ*/
	font-size: 1.1rem;
}	

/*.flex-nav img{

	flex-basis: 80px;
}*/

.flex-nav ul{
	display: flex;
}

.flex-nav ul li a{
	color: white;
	margin-right: 10px;

}

nav>ul>li>a{
	padding: 0;
	margin: 20px;
	border-bottom-color: var(--primary-color);
	border-bottom-width: 3px;
}

nav a:hover{
	font-size: 1rem;
	border-bottom: solid;
	border-bottom-color: white;
	border-bottom-width: 3px; 
}

/*SIDE BAR LAYOUT*/

/*This adds the top margin to the sidebar menu*/
.side-bar{

	padding-top: 10px;
	/*background-color: var(--primary-color);*/
	background-color: #d1e0db;
	color: var(--side-menu-text-color);
	overflow-x: scroll;
	overflow-y: auto;
}

/*This puts the icon and menu text in flex container*/
.side-menu-flex{
	display: flex;
	align-items: center;
	padding-left: 5px;
}

.side-bar i,h4{
	font-size: 1rem;
	align-items: center;
	/*font-weight: 400;*/
}

/*This is for the multi level dropdown in the sidebar*/
.side-bar ul, input[type="checkbox"]{
	display: none;  /*this hides the sub menu*/
}

.side-bar input:checked ~ ul{
	display: block; /*This expands the sub menu of side bar on checking*/
	padding:5px;
}

input[type="checkbox"]{
	display: none;  /*this hides the sub menu*/
}

input:checked ~ ul{
	display: block; /*This expands the sub menu of side bar on checking*/
	padding:5px;
}

/*This adds indentation to the sub menu items */
.sub-item1>ul, li a{
	color: var(--side-menu-text-color);
	
	font-weight: 300;
	font-size: 0.9em;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}


.side-bar label:hover,input[type="checkbox"]:hover{
	
	font-size: 1.1em; /*This accentuates the appearance of sub menu items when pointer hover over.*/
	transition: font-size 0.3s ease-in;

}

.sb-item >ul>li:hover{
	
	transform: translateX(5px);
	transition: transform 0.2s ease-out;
}

.sb-item>ul>label:hover, .sb-item >ul>li>a:hover{
	
	
	background: var(--primary-color);
	border: none;
	margin: 2px 0px;
	color: #fff;
	border-radius: 10px;
	font-size: 0.9rem;
	padding-top: 5px;
	padding-bottom: 5px;
	/*transition: font-size 0.3s ease-in;*/
	

	/*transition: background-color 0.3s ease-in;*/
}


.sb-item-text{
	font-size: 1rem;
	padding-left: 5px;
	

}
.side-bar{
	/*min-width: 200px;*/
}

.side-bar{
	padding-left: 10px;
	/*position: fixed;*/
}
/*---------------------*/

/*GRID LAYOUT*/

.grid-container{

	display: grid;
	grid-template-columns: 20% 75% 5%;
	grid-gap: 5px;
	overflow: hidden;
}

/*Content Area*/

.welcome{
	font-family: 'Roboto', sans-serif;
}

.direct-links h3{
	margin: 20px;
}

.card-container{

	display: grid;
	grid-template-columns: auto auto auto auto;
	max-width: 600px;
	grid-gap: 10px;
	margin: 0 auto;
}

.card-tile{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
		transition: transform 0.2s ease-in;

}

.card-tile h4{
	font-size: 0.9em;
}
.card-tile:hover{

     transform: translateY(-15px);
}

/*Image layout and dimensions*/

.img-common{
	height: 50px;
	width: 50px;
}
.img-med{
	width: 80px;
}

.img-pension{
	height: 50px;
	width: 40px;
}

/*FOOTER LAYOUT*/
.footer{
	height: 100px;
}
.footer-info ul{
	display: flex;
	justify-content: space-between;
	color:white;
	width: 500px;  /**/
	margin: 0 auto;
}

/*styling hamburger menu*/


/*media queries*/
@media screen and (max-width: 600px) {
 

  .grid-container{

	display: grid;
	grid-template-columns: 0% 95% 5%;
	grid-gap: 5px;
	overflow: hidden;
	}

	.card-container{

	display: grid;
	grid-template-columns: auto auto;
	max-width: 400px;
	grid-gap: 10px;
	margin: 0 auto;
	}

	#hMenu{
	display: block;
	margin-bottom: 5px;
	 /*position: absolute;
  	left: 20px;
  	top: 120px;*/
	}	
}


/*Media Query Ends*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_hMenu {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
   /* Location of the box */
  left: 0;
  top: 0;
  padding: none;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--primary-color); /* Fallback color */
  /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */*/
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color); 
}

#hMenu_Modal{
	  padding: none;
	  margin: none;
	  background-color: var(--primary-color);
	  border: 1px solid #888;
	  width: 100%;
	  height: 100%;
	  border-radius: 0px;
	  border-top-width: 0px;
	  border-bottom-width: 0px;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close_hMenu{
	  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}

#close_hMenu:hover,
#close_hMenu:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*This is for tHMhe multi level dropdown in the sidebar*/
/*This adds the top margin to the sidebar menu*/
.side-barHM{
	
	color: white;
	/*background-color: var(--primary-color);*/
	background-color: var(--primary-color);
	overflow: auto;
}

/*This puts the icon and menu text in flex container*/
.side-menu-flexHM{
	display: flex;
	align-items: center;
	padding-left: 5px;
}

.side-barHM i,h4{
	font-size: 1rem;
	align-items: center;
	/*font-weight: 400;*/
}

/*This is for the multi level dropdown in the sidebar*/
.side-barHM ul, input[type="checkbox"]{
	display: none;  /*this hides the sub menu*/
}

.side-barHM input:checked ~ ul{
	display: block; /*This expands the sub menu of side bar on checking*/
	padding:5px;
}


/*This adds indentation to the sub menu items */
.sub-item1HM>ul, li a{
	font-weight: 300;
	font-size: 0.9em;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.sb-itemHM>ul>li>a{
	color: white;
}

.side-barHM label:hover,input[type="checkbox"]:hover{
	
	font-size: 1.1em; /*This accentuates the appearance of sub menu items when pointer hover over.*/
	transition: font-size 0.3s ease-in;

}

.sb-itemHM >ul>li:hover{
	
	transform: translateX(5px);
	transition: transform 0.2s ease-out;
}

.sb-itemHM>ul>label:hover, .sb-itemHM >ul>li>a:hover{
	
	
	background: var(--primary-color);
	border: none;
	margin: 2px 0px;
	color: #fff;
	border-radius: 10px;
	font-size: 0.9rem;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid white;
	/*transition: font-size 0.3s ease-in;*/
	

	/*transition: background-color 0.3s ease-in;*/
}


.sb-item-textHM{
	font-size: 1rem;
	padding-left: 5px;
	

}
.side-bar{
	/*min-width: 200px;*/
}

.side-barHM{
	padding-left: 10px;
	/*position: fixed;*/
}

	/*footer*/
.footer-info >ul>li>a{
	color: white;
}